<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aa.draftt">

    <application
        android:name="com.aa.draftt.App"
        android:allowBackup="true"
        android:icon="@mipmap/draftt_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/draftt_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Draftt">
        <activity android:name="com.aa.draftt.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.aa.draftt.auth.views.AuthActivity">
        </activity>
        <activity android:name="com.aa.draftt.views.HomeActivity">
        </activity>
    </application>

</manifest>